<ion-header>
  <ion-toolbar>
    <ion-title text-center *ngIf="!isSearchBarOpened">My Friendlist</ion-title>
    <ion-searchbar *ngIf="isSearchBarOpened" showCancelButton="true" (ionCancel)="isSearchBarOpened=false" placeholder="Type your friend name..." [(ngModel)]="searchBar" animated="true"></ion-searchbar>
    <ion-buttons slot="primary">
      <ion-button color="primary" expand="full" fill="clear" slot="end" *ngIf="!isSearchBarOpened" (click)="isSearchBarOpened=true">
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-col size="12" size-sm="6">
        <div *ngFor="let friend of userData | filter:searchBar">
          <ion-card>
            <ion-row class="ion-align-items-center ion-justify-content-left" style="padding: 8px">
              <ion-col size="3" size-sm="4" style="display:flex">
                <ion-row class="ion-align-items-center" style="padding: 0px">
                  <img class="circle-image" src="assets/icon/man.png"/>
                </ion-row>
              </ion-col>
              <ion-col size="6" size-sm="6" class="ion-no-padding" style="padding-left: 8px; padding-right: 8px;">
                <ion-card-title>{{ friend.firstname }} {{ friend.lastname }}</ion-card-title>
              </ion-col>
              <ion-col size="1" size-sm="1" style="padding-right: 8px;">
                <ion-button color="danger">
                  <ion-icon name="trash"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-card>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
