<!-- <ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="6" offset-sm="3" class="ion-padding-top">
        <div class="ion-padding-start ion-padding-top ion-margin-top">
          <ion-row class="ion-align-items-center">
            <ion-col size="4">
              <ion-text>
                <h2 class="text-bold">Register</h2>
              </ion-text> 
            </ion-col>
          </ion-row>
        </div>
        
        <div class="ion-padding-horizontal">
          <form class="form" [formGroup]="validations_form" (ngSubmit)="registerUser()">
      
            <!-- firstname -->
            <ion-item lines="full" style="--background: transparent;">
              <ion-label position="floating">First Name<span style="color: red;">*</span></ion-label>
              <ion-input type="text"
                formControlName="firstname">
              </ion-input>
            </ion-item>
            
            <!-- lastname -->
            <ion-item>
              <ion-label position="floating">Last Name<span style="color: red;">*</span></ion-label>
              <ion-input type="text" 
                formControlName="lastname">
              </ion-input>
            </ion-item>
        
            <!-- email -->
            <ion-item>
              <ion-label position="floating">Email<span style="color: red;">*</span></ion-label>
              <ion-input type="email" 
                formControlName="email">
              </ion-input>
            </ion-item>
        
            <!-- password -->
            <ion-item>
              <ion-label position="floating">Password<span style="color: red;">*</span></ion-label>
              <ion-input [type]="showPassword ? 'text' : 'password'" 
                formControlName="password">
              </ion-input>
              <ion-icon class="ion-align-self-end" size="small" slot="end" [name]="passwordToggleIcon" (click)="togglePassword()"></ion-icon>
            </ion-item>

            <!-- confirm password -->
            <!-- <ion-item>
              <ion-label position="stacked">Confirm Password<span style="color: red;">*</span></ion-label>
              <ion-input [type]="showPassword ? 'text' : 'password'" 
                formControlName="password">
              </ion-input>
              <ion-icon class="ion-align-self-end" size="small" slot="end" [name]="passwordToggleIcon" (click)="togglePassword()"></ion-icon>
            </ion-item> -->
        
            <!-- button -->
            <ion-row class="ion-justify-content-center ion-margin-top">
              <ion-col size="9" size-sm="6">
                <ion-button 
                  type="submit"
                  color="primary"
                  expand="block"
                  mode="ios"
                  [disabled]="!validations_form.valid">
                  Register
                </ion-button>
              </ion-col>

              <ion-col size="9" size-sm="6">
                <ion-button 
                  color="primary"
                  expand="block"
                  mode="ios"
                  routerLink="/login">
                  Cancel
                </ion-button>
              </ion-col>
            </ion-row>
            
          </form>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
