<!-- <ion-header>
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-text-center">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" sizeMd="8">
        <ion-row class="ion-justify-content-center ion-align-items-center">
          <ion-col size="6" sizeMd="5" class="ion-text-center">
            <ion-img src="assets/icon/worldwide.png"></ion-img>
          </ion-col>
          <ion-col size="10" sizeMd="8" class="ion-text-center">
            <ion-text>
              <h2 class="text-bold">Maria Dimansi<br>Chrysandini</h2>
              <h4>00000022248</h4>
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center ion-align-items-center">
          <ion-col size="11" size-md="6">
            <ion-button expand="block" (click)="logout()">Logout</ion-button>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center ion-align-items-center">
          <ion-col size="11" size-md="6">
            <p>Kesan Pesan Singkat:<br>Menarik belajar Ionic dengan Aslab yang asik walaupun masa pandemi!</p>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center ion-align-items-center">
          <ion-col size="11" size-md="6">
            <h2 class="text-bold">My Feeds</h2>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-left ion-align-items-center">
          <ion-col size="11" size-md="6">
            <p>Maria hasn't checked in at anywhere.</p>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
